@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    mask-origin: 0;
    padding: 0;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}

body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background: rgb(247, 247, 247);
}

/* navbar start */
.navbar {
    max-width: 1280px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-checkbox {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #FEA301;
    order: 2;
}

.menu-icon .close-icon {
    display: none;
}

.logo-container {
    display: flex;
    margin-left: 0;
    align-items: center;
    gap: 11px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
}

.nav-item-home {
    color: Orange;
}

.nav-item-about {
    color: rgb(1, 172, 253);
}

.nav-item-facilities {
    color: #05D4DF;
}

.nav-item-admission {
    color: #5D58EF;
}

.btn-contact {
    background-color: orange;
    border: none;
    border-radius: 10px;
    margin-right: 0;
    padding-top: 13px;
    padding-bottom: 13.5px;
    padding-inline: 45px;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.navbar>svg {
    height: 30px;
    width: 30px;
    visibility: hidden;
}

/* hero section */
.hero-section {
    max-width: 1280px;
    margin-inline: auto;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-title {
    line-height: 4rem;
    font-size: 56px;
    font-weight: 700;
}

.text-highlight-orange {
    color: #FEA301;
}

.text-highlight-blue {
    color: #01ACFD;
}

.hero-description {
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 44px;
}

.btn-enroll {
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 45px;
    border-radius: 10px;
}

/* curriculum section start */
.section-curriculum {
    max-width: 1280px;
    margin-inline: auto;
    background-image: url("/assets/bg.png");
}

.curriculum-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28.29px;
}

.card-kinder {
    width: 367.8px;
    height: 476.78px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-elementary {
    width: 367.8px;
    height: 481.5px;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-middle {
    width: 367.8px;
    height: 476.78px;
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.section-title {
    color: rgb(32, 32, 32);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 80px;
}

.card-icon-kinder {
    margin-top: 58px;
    margin-left: 121px;
    margin-right: 121px;
}

.card-icon-elementary {
    margin-top: 61.29px;
    margin-left: 115.29px;
    margin-right: 115.08px;
}

.card-icon-middle {
    margin-top: 58.15px;
    margin-left: 121.29px;
    margin-right: 121.11px;
}

.card-title-kinder {
    text-align: center;
    margin-top: 32.8px;
    margin-left: 78.57px;
    margin-right: 78.18px;
    text-wrap: nowrap;
    font-size: 24px;
}

.card-title-elementary {
    text-align: center;
    margin-top: 32.07px;
    margin-left: 72.47px;
    margin-right: 72.07px;
    font-size: 24px;
}

.card-title-middle {
    text-align: center;
    margin-top: 37.4px;
    margin-left: 68.31px;
    margin-right: 67.9px;
    font-size: 24px;
}

.card-text {
    margin-top: 33.48px;
    margin-left: 40.88px;
    margin-right: 40.67px;
    font-size: 15.09px;
    font-weight: 500;
    text-align: center;
    color: rgb(128, 128, 128);
}

.btn-read-more-kinder {
    cursor: pointer;
    margin-top: 38.67px;
    margin-left: 132.46px;
    margin-right: 155.69px;
    margin-bottom: 58.48px;
    text-wrap: nowrap;
    color: #64C8FF;
    text-align: center;
    font-size: 15.09px;
}

.btn-read-more-elementary {
    cursor: pointer;
    margin-top: 38.67px;
    margin-left: 132.46px;
    margin-right: 155.69px;
    margin-bottom: 58.48px;
    text-wrap: nowrap;
    color: #F0AA00;
    font-size: 15.09px;
}

.btn-read-more-middle {
    cursor: pointer;
    margin-top: 38.67px;
    margin-left: 132.46px;
    margin-right: 155.69px;
    margin-bottom: 58.48px;
    text-wrap: nowrap;
    color: #8700FF;
    text-align: center;
    font-size: 15.09px;
}

.slider-controls {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 60px;
}

/* stories section start */
.section-stories {
    background: url(/assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stories-container {
    max-width: 1280px;
    margin-inline: auto;
}

.stories-title {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.stories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.story-card {
    background: #ffff;
    border-radius: 10px;
}

#story-card-1 {
    grid-row: span 2;
    grid-column: span 2;
}

.story-img {
    height: 50%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.story-content {
    padding-left: 25px;
    padding-right: 20px;
    margin-top: -20px;
    gap: 30px;
    font-weight: 500;
    font-size: 15px;
}

.story-content>h2 {
    margin-top: 36.43px;
    margin-bottom: 20px;
    margin-left: 38.4px;
    margin-right: 99.43px;
}

.story-content>p {
    margin-top: 35.87px;
    margin-left: 38.4px;
    margin-right: 68.86px;
}

.badge-date {
    border: none;
    border-radius: 35px;
    background-color: rgb(60, 216, 232);
    color: white;
    height: 35px;
    max-width: 134.5px;
    align-content: center;
    padding: 5px 45px;
    font-size: 15.34px;
    font-weight: 500;
    position: relative;
    margin-top: -30px;
    margin-inline: auto;
    text-wrap: nowrap;
}

.badge-date-alt1 {
    background-color: rgb(149, 178, 38);
    border: none;
    border-radius: 35px;
    color: white;
    height: 35px;
    max-width: 134.5px;
    align-content: center;
    padding: 0px 30px;
    font-size: 15.34px;
    font-weight: 500;
    position: relative;
    margin-top: -25px;
    margin-inline: auto;
    text-wrap: nowrap;
}

.badge-date-alt2 {
    background-color: rgb(93, 88, 240);
    border: none;
    border-radius: 35px;
    color: white;
    height: 35px;
    max-width: 134.5px;
    align-content: center;
    padding: 0px 30px;
    font-size: 15.34px;
    font-weight: 500;
    position: relative;
    margin-top: -25px;
    margin-inline: auto;
    text-wrap: nowrap;
}

.badge-date-alt3 {
    background-color: rgb(149, 178, 38);
    border: none;
    border-radius: 35px;
    color: white;
    height: 35px;
    max-width: 88.5px;
    align-content: center;
    padding: 0px 30px;
    font-size: 15.34px;
    font-weight: 500;
    position: relative;
    margin-top: -25px;
    margin-inline: auto;
    text-wrap: nowrap;
}

.btn-view-all {
    cursor: pointer;
    background-color: black;
    border: none;
    color: #ffff;
    font-size: 18px;
    padding: 15px 50px 13px 50px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 70px;
    display: block;
    margin-inline: auto;
}

/* footer start */
.footer-container {
    background-color: rgb(1, 172, 253);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 147px;
    padding-right: 147px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo-box>h2 {
    font-size: 40px;
    margin: 0;
}

.footer-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    font-size: 42.14px;
    margin-top: -30px;
}

.footer-desc {
    font-size: 20px;
    font-weight: 400;
}

.footer-links-section {
    text-align: left;
    padding-top: 20px;
}

.footer-links-section>h2 {
    font-size: 24px;
}

.footer-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}

.footer-links li {
    cursor: pointer;
}

.footer-socials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    margin-top: -90px;
}

.social-icons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.social-icons-wrapper img {
    cursor: pointer;
}

/* ===============================
   MOBILE (0px – 576px)
================================ */
@media screen and (max-width: 576px) {
    img {
        max-width: 100%;
        height: auto;
    }

    .navbar {
        padding: 0 20px;
    }

    .nav-list,
    .btn-contact,
    .hidden-mobile {
        display: none;
    }

    .hero-container {
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
        padding: 0 20px;
    }

    .hero-title {
        font-size: 30px;
        line-height: 2.5rem;
    }

    .hero-description {
        font-size: 16px;
    }

    .btn-enroll {
        font-weight: 500;
        padding: 12px 30px;
    }

    .section-title {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .curriculum-grid {
        flex-direction: column;
        gap: 30px;
        margin-inline: 10px;
    }

    .card-kinder,
    .card-elementary,
    .card-middle {
        width: 100%;
        max-width: 350px;
        height: auto;
        padding-bottom: 30px;
    }

    .card-icon-kinder,
    .card-icon-elementary,
    .card-icon-middle {
        margin: 40px auto 0;
        display: block;
    }

    .card-text,
    .btn-read-more-kinder,
    .btn-read-more-elementary,
    .btn-read-more-middle {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #stories-container {
        padding: 0 16px;
    }

    .stories-title {
        font-size: 28px;
        margin: 50px 0 0 0;
    }

    .stories-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    #story-card-1 {
        display: none;
    }

    .story-img {
        height: auto;
    }

    .story-content {
        margin-top: 0;
        padding: 16px;
        font-size: 14px;
    }

    .story-content h2,
    .story-content h3,
    .story-content p {
        margin: 10px 0;
    }

    .story-content>h2,
    .story-content>p {
        margin-left: 0;
        margin-right: 0;
    }

    .badge-date,
    .badge-date-alt1,
    .badge-date-alt2 {
        position: relative;
        left: 1.5%;
        top: -12px;
        font-size: 13px;
        padding-left: 0px;
        padding-left: 45px;
    }

    .badge-date-alt3 {
        position: relative;
        left: 1.5%;
        top: -12px;
        font-size: 13px;
        padding-left: 0px;
        padding-left: 45px;
    }

    .btn-view-all {
        margin: 0px auto 50px;
        padding: 12px 36px;
        font-size: 16px;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        padding: 60px 30px;
    }

    .footer-info {
        font-size: 28px;
    }

    .footer-logo-box h2 {
        font-size: 29px;
        margin-bottom: 0px;
    }

    .footer-desc {
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .footer-links-section>h2,
    ul,
    li {
        margin: 0;
        padding: 0;
    }

    #footer-nav>li {
        font-size: 17px;
    }

    .footer-socials {
        margin-inline: auto;
    }

    .footer-socials>h2 {
        margin-top: 90px;
        margin-bottom: 0;
        padding: 0;
        justify-content: center;
    }
}

/* ===============================
   TABLET (577px – 1080px)
================================ */
@media screen and (min-width: 577px) and (max-width: 1080px) {
    img {
        max-width: 100%;
        height: auto;
    }

    .navbar {
        padding: 0 40px;
    }

    .nav-list,
    .btn-contact,
    .hidden-mobile {
        display: none;
    }

    .hero-container {
        flex-direction: column-reverse;
        text-align: center;
        gap: 40px;
        padding: 0 40px;
    }

    .hero-title {
        font-size: 44px;
        line-height: 3.2rem;
    }

    .curriculum-grid {
        flex-direction: column;
        gap: 40px;
    }

    .card-kinder,
    .card-elementary,
    .card-middle {
        width: 80%;
        height: auto;
    }

    .card-icon-kinder,
    .card-icon-elementary,
    .card-icon-middle {
        margin: 50px auto 0;
        display: block;
    }

    #stories-container {
        padding: 0 40px;
    }

    .stories-title {
        font-size: 34px;
        margin: 50px 0 30px;
    }

    .stories-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 24px;
    }

    #story-card-1 {
        display: none;
    }

    .story-img {
        height: auto;
    }

    .story-content {
        margin-top: 0;
        padding: 20px;
    }

    .story-content>h2,
    .story-content>p {
        margin-left: 0;
        margin-right: 0;
    }

    .badge-date,
    .badge-date-alt1,
    .badge-date-alt2 {
        position: relative;
        bottom: 16px;
        margin-bottom: 14px;
        width: fit-content;
        height: auto;
        padding: 8px 36px;
        margin-inline: auto;
        font-size: 14px;
    }

    .badge-date-alt3 {
        position: relative;
        bottom: 16px;
        margin-bottom: 14px;
        width: fit-content;
        height: auto;
        padding: 8px 40px;
        margin-inline: auto;
        font-size: 14px;
    }

    .btn-view-all {
        margin-top: 0;
    }

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        padding: 80px 60px;
    }

    .footer-socials {
        margin-inline: auto;
    }

    .footer-socials>h2 {
        margin-top: 70px;
        margin-bottom: 0;
        padding: 0;
        justify-content: center;
    }
}

@media screen and (max-width: 1080px) {
    .menu-icon {
        display: block;
    }

    .nav-list {
        cursor: pointer;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        gap: 25px;
        background: rgb(247, 247, 247);;
        padding: 20px 0;
        z-index: 1000;
        text-align: center;
    }

    .menu-checkbox:checked ~ .nav-list {
        display: flex;
    }

    .menu-checkbox:checked ~ .menu-icon .open-icon {
        display: none;
    }
    
    .menu-checkbox:checked ~ .menu-icon .close-icon {
        display: block;
    }

}